{% for topic-digital-marketing in site.topic-digital-marketing %}
<div class="medium-6 large-4 small-12 columns">
    <article class="article-card">
        <a href="{{ topic-digital-marketing.url }}">
            <img class="art-img" src="{{site.baseurl}}/assets/img/pics/{{ topic-digital-marketing.img }}">
        </a>
        <div class="card-content">
            <div class="post-icon">
                <img class="blog-icon" src="{{site.baseurl}}/assets/img/svg/{{ topic-digital-marketing.svg }}" alt="foundation icon">
            </div>

            <p class="post-author">By <a href="../#home">{{ topic-digital-marketing.author }}</a></p>
            <p>{{topic-digital-marketing.date | date: '%B %d, %Y'}}</p>
            <a href="{{ topic-digital-marketing.url }}">
                <h1 class="card-h1"><strong>{{ topic-digital-marketing.title }}</strong></h1>
            </a>
            <!--{{ post.content }}-->
            {{ topic-digital-marketing.excerpt }}
            <p>
                <a href="{{ topic-digital-marketing.url }}" id="intro-btn" class="tiny button"><span data-description="Button - subscribe to blog" id="get-btn">Read on</span></a>
            </p>
        </div>
    </article>
</div>
{% endfor %}
