{% for topic-all in site.topic-all %}
<div class="medium-6 large-4 small-12 columns article-test">
    <article class="article-card">
        <a href="{{ topic-all.url }}">
            <img class="art-img" src="{{site.baseurl}}/assets/img/pics/{{ topic-all.img }}">
        </a>
        <div class="card-content">
            <div class="post-icon">
                <img class="blog-icon" src="{{site.baseurl}}/assets/img/svg/{{ topic-all.svg }}" alt="foundation icon">
            </div>

            <p class="post-author">By <a href="../#home">{{ topic-all.author }}</a></p>
            <p>{{topic-all.date | date: '%B %d, %Y'}}</p>
            <a href="{{ topic-all.url }}">
                <h1 class="card-h1"><strong>{{ topic-all.title }}</strong></h1>
            </a>
            <!--{{ post.content }}-->
            {{ topic-all.excerpt }}
            <p>
                <a href="{{ topic-all.url }}" id="intro-btn" class="tiny button"><span data-description="Button - subscribe to blog" id="get-btn">Read on</span></a>
            </p>
            <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox addthis-pad" data-url="{{site.baseurl}}{{ topic-all.url }}" data-title="{{ topic-all.title }}"></div>
        </div>
    </article>
</div>
{% endfor %}
