<!--Section Five: Contact -->
<section id="contact" data-magellan-target="contact" class="introduction">
    <div class="wrap-contactImg parallaxParent">
        <div class="contact-back" data-interchange="[../assets/img/pics/xl-wht-desk.jpg, default], [../assets/img/pics/sm-wht-desk.jpg, small], [../assets/img/pics/med-wht-desk.jpg, medium], [../assets/img/pics/lg-wht-desk.jpg, large], [../assets/img/pics/xl-wht-desk.jpg, xlarge], [../assets/img/pics/xxl-wht-desk.jpg, xxlarge], [../assets/img/pics/retina-wht-desk.jpg, retina]">
            <noscript><img src="../assets/img/pics/office-view.jpeg" alt="Contact Me"></noscript>
        </div>
        <div class="contact-text">
            <div class="row text-center">
                <div class="small-12 columns">
                    <p class="p-height"><strong>Want to chat more about my qualifications?</strong></p>
                </div>
            </div>
            <div class="row text-center align-center">
                <div class="small-10 medium-6 columns">
                    <p class="lead">I love talking with like-minded people and businesses working to make the world a better place. If you’re interested in chatting or have any questions about my expertise drop me a line and I’ll get back to you as soon as I can.</p>
                </div>
            </div>
            <div class="row align-center contact-svg">
                <div class="small-12 columns text-center">
                    <a class="contact-click" data-toggle="panel">
                        <object id="d" data="../assets/img/svg/down-ar.svg" type="image/svg+xml"><img src="../assets/img/pics/down-ar.png" alt="Open Arrow Button Contact Form"></object>
                        <object id="u" data="../assets/img/svg/up-ar.svg" type="image/svg+xml" style="opacity:0"><img src="../assets/img/pics/up-ar.png" alt="Close Arrow Button Contact Form"></object>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Contact Form-->
    <div class="row">
        <div class="columns">
            <div class="c-form" id="panel" data-toggler data-animate="slide-in slide-out">
                <div class="row text-center">
                    <div class="columns">
                        <h3>Contact</h3>
                        <p class="type-space">I'll be happy you discuss with you my experience and expertise. <br>I can be reached by <br>
                            <span id="h3-typer" class="typer" data-delay="90"  data-words="filling out this form., phone., email."></span>

                            <span class="cursor" data-cursordisplay="_" data-owner="h1-typer" style="transition: all 0.1s; opacity: 1;">_</span>
                        </p>
                    </div>
                </div>
                <div class="row large-unstack">
                    <div class="columns">
                        <p>Write me an e-mail via this form, or just send me a message directly at </p> <p><a itemprop="email" href="mailto:erosa26@gmail.com" data-description="Contact Form Email Click">erosa26@gmail.com</a></p>

                        <p><a itemprop="telephone" href="tel:571-762-1956" data-description="Contact Phone Number">(571) 762-1956</a></p>

                        <div style="position:relative;">

                            <div id="map"></div>

                            
                        </div>


                    </div>
                    <div class="columns">
                        <form id="mail-contact" name="evroD-contact-form" action="/thank-you" data-abide novalidate netlify netlify-honeypot="bot-field">
                            <div class="contactForm">
                                <div data-abide-error class="alert callout" style="display: none;">
                                    <p><i class="fi-alert"></i> There are some errors in your form.</p>
                                </div>
                                <h4>Contact Info</h4>
                                <label class="hide">Bot field:
                                    <input name="bot-field">
                                </label>
                                <label>Name:
                                    <input id="mail-name" pattern="text" required type="text" placeholder="Your Name" name="name">
                                    <span class="form-error">This field is required.</span>
                                </label>
                                <label>Email:
                                    <input id="mail-email" required pattern="email" type="email" placeholder="yourEmail@company.com" name="email">
                                    <span class="form-error">This field is required.</span>
                                </label>
                                <label>Phone:
                                    <input id="mail-fone" type="tel" placeholder="555-867-5309" name="phone">
                                </label>
                                <label>Company:
                                    <input id="mail-site" type="url" placeholder="yourCompany.com" name="company">
                                </label>
                                <label>
                                    Comments:
                                    <textarea id="mail-text" pattern="text" required type="text" placeholder="Ask me anything" name="message"></textarea><span class="form-error">This field is required.</span>
                                </label>
                                <fieldset>
                                    <button id="submit-cf" class="expanded button" type="submit" value="Submit" data-description="Contact Form Submit">SEND</button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
