<!--Section Five: Contact -->
<section class="introduction contact-search">
    <!--Contact Form-->
    <div class="row contact-search-pad">
        <div class="columns">
            <div>
                <div class="row text-center">
                    <div class="columns">
                        <h3>Contact</h3>
                        <p class="type-space">I'll be happy you discuss with you my experience and expertise. I can be reached by<br>
                            <span id="h3-typer" class="typer" data-delay="90"  data-words="filling out this form., phone., email."></span>

                            <span class="cursor" data-cursordisplay="_" data-owner="h1-typer" style="transition: all 0.1s; opacity: 1;">_</span>
                        </p>
                    </div>
                </div>
                <div class="row large-unstack">

                    <div class="columns">
                        <form id="mail-contact" name="evroD-article-contact-form" action="thanks" data-abide novalidate netlify netlify-honeypot="bot-field">
                            <div class="contactForm">
                                <div data-abide-error class="alert callout" style="display: none;">
                                    <p><i class="fi-alert"></i> There are some errors in your form.</p>
                                </div>
                                <h4>Contact Info</h4>
                                <label class="hide">Bot field:
                                    <input name="bot-field">
                                </label>
                                <label>Name:
                                    <input id="mail-name" pattern="text" required type="text" placeholder="Your Name" name="name">
                                    <span class="form-error">This field is required.</span>
                                </label>
                                <label>Email:
                                    <input id="mail-email" required pattern="email" type="email" placeholder="yourEmail@company.com" name="email">
                                    <span class="form-error">This field is required.</span>
                                </label>
                                <label>
                                    Description:
                                    <textarea id="mail-text" pattern="text" required type="text" placeholder="What you would like to build" name="message"></textarea><span class="form-error">This field is required.</span>
                                </label>
                                <fieldset>
                                    <button id="submit-cf" class="expanded button" type="submit" value="Submit" data-description="Contact Form Submit">SEND</button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
