<!--HEADER-->
<header data-sticky-container id="home">
    <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        <div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="medium">
            <button class="menu-icon float-right" type="button" data-open="mobile-menu" data-toggle="top-menu"></button>
            <div id="head-logo" class="title-bar-title">
                {% if page.url == "/" %}
                <a id="main-nav-logo" href="#home">
                    <object class="logo-svg-1" id="logo1" data="../assets/img/svg/logo-wht.svg" type="image/svg+xml"><img src="{{site.baseurl}}/assets/img/pics/logo.png" alt="Evan Rosa"></object>
                    <object style="opacity:0" class="logo-svg-2" id="logo2" data="../assets/img/svg/logo.svg" type="image/svg+xml"><img src="{{site.baseurl}}/assets/img/pics/logo-blk.png" alt="Evan Rosa"></object>
                </a>
                {% else %}
                <a id="main-nav-logo" href="/">
                    <object class="logo-svg-1" id="logo1" data="/assets/img/svg/logo-wht.svg" type="image/svg+xml"><img src="{{site.baseurl}}/assets/img/pics/logo.png" alt="Evan Rosa"></object>
                    <object style="opacity:0" class="logo-svg-2" id="logo2" data="/assets/img/svg/logo.svg" type="image/svg+xml"><img src="{{site.baseurl}}/assets/img/pics/logo-blk.png" alt="Evan Rosa"></object>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="top-bar" id="top-menu">
            <div class="top-bar-title">
                {% if page.url == "/" %}
                <a id="main-nav-logo" href="#home">
                    <object class="logo-svg-1" id="logo1" data="../assets/img/svg/logo-wht.svg" type="image/svg+xml"><img src="{{site.baseurl}}/assets/img/pics/logo.png" alt="Evan Rosa"></object>
                    <object style="opacity:0" class="logo-svg-2" id="logo2" data="../assets/img/svg/logo.svg" type="image/svg+xml"><img src="{{site.baseurl}}/assets/img/pics/logo-blk.png" alt="Evan Rosa"></object>
                </a>
                {% else %}
                <a id="main-nav-logo" href="/">
                    <object class="logo-svg-1" id="logo1" data="/assets/img/svg/logo-wht.svg" type="image/svg+xml"><img src="{{site.baseurl}}/assets/img/pics/logo.png" alt="Evan Rosa"></object>
                    <object style="opacity:0" class="logo-svg-2" id="logo2" data="/assets/img/svg/logo.svg" type="image/svg+xml"><img src="{{site.baseurl}}/assets/img/pics/logo-blk.png" alt="Evan Rosa"></object>
                </a>
                {% endif %}
            </div>
            <div class="top-bar-right show-for-medium">
                <nav class="nav" role="navigation">
                    <ul class="vertical medium-horizontal menu" data-magellan>
                        <li class="hvr-overline-from-center">
                            {% if page.url == "/" %}
                            <a id="main-who" class="a-c a-default" href="#about">About</a>
                            {% else %}
                            <a id="main-who" class="a-c a-default" href="/#about">About</a>
                            {% endif %}
                        </li>
                        <li class="hvr-overline-from-center">
                            {% if page.url == "/" %}
                            <a id="main-what" class="a-c a-default" href="#services">Services</a>
                            {% else %}
                            <a id="main-what" class="a-c a-default" href="/#services">Services</a>
                            {% endif %}
                        </li>
                        <li class="hvr-overline-from-center">
                            {% if page.url == "/" %}
                            <a id="main-exp" class="a-c a-default" href="#experience">Resume</a>
                            {% else %}
                            <a id="main-exp" class="a-c a-default" href="/#experience">Resume</a>
                            {% endif %}
                        </li>
                        <li class="hvr-overline-from-center">
                            {% if page.url == "/" %}
                            <a id="main-contact" class="a-c a-default" href="#contact">Contact</a>
                            {% else %}
                            <a id="main-contact" class="a-c a-default" href="#contact">Contact</a>
                            {% endif %}
                        </li>
                        <li class="hvr-overline-from-center">
                            {% if page.url == "/blog/" %}
                            <a data-description="Blog" id="main-blog" class="a-c a-default" href="#blog">Blog</a>
                            {% else %}
                            <a data-description="Blog" id="main-blog" class="a-c a-default" href="/blog/">Blog</a>
                            {% endif %}
                        </li>
                        <li><a id="search-head" data-open="search-btn" data-toggle="search-btn"  class="small button searchBTN hollow show-for-medium"><strong>Search</strong></a>
                            <div class="full reveal" id="search-btn" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
                                <div class="float-right">
                                    <button class="close-button" data-close aria-label="Close modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="vert-center">
                                    <p class="text-center"><strong>Evan Rosa Blog Search</strong></p>
                                    <form action="{{site.baseurl}}/search/" method="get">
                                        <div class="row">
                                            <div class="small-12 columns">
                                                <label for="search-box">Search</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="small-10 columns">
                                                <input type="text" id="search-box" name="q" required>
                                            </div>
                                            <div class="small-2 columns">
                                                <input id="main-search-desk" class="small button" type="submit" value="search">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="show-for-small-only header-mobile-search">
                                <form action="{{site.baseurl}}/search/" method="get">
                                    <div class="row align-center">
                                        <div class="small-12 columns">
                                            <input type="text" id="search-box" name="q" required>
                                        </div>
                                    </div>
                                    <div class="row align-center header-mobile-search">
                                        <div class="small-12 columns">
                                            <input id="main-search-mobile" class="hollow tiny button" type="submit" value="search">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


        <div class="top-bar reveal full" id="mobile-menu" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
            <div class="row close-btn-clearfix">
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="top-bar-title">
                    {% if page.url == "/" %}
                    <a id="main-nav-logo" href="#home">
                        <object class="logo-svg-1" id="logo1" data="../assets/img/svg/logo-wht.svg" type="image/svg+xml"><img src="{{site.baseurl}}/assets/img/pics/logo.png" alt="Evan Rosa"></object>
                        <object style="opacity:0" class="logo-svg-2" id="logo2" data="../assets/img/svg/logo.svg" type="image/svg+xml"><img src="{{site.baseurl}}/assets/img/pics/logo-blk.png" alt="Evan Rosa"></object>
                    </a>
                    {% else %}
                    <a id="main-nav-logo" href="/">
                        <object class="logo-svg-1" id="logo1" data="/assets/img/svg/logo-wht.svg" type="image/svg+xml"><img src="{{site.baseurl}}/assets/img/pics/logo.png" alt="Evan Rosa"></object>
                        <object style="opacity:0" class="logo-svg-2" id="logo2" data="/assets/img/svg/logo.svg" type="image/svg+xml"><img src="{{site.baseurl}}/assets/img/pics/logo-blk.png" alt="Evan Rosa"></object>
                    </a>
                    {% endif %}
                </div>
                <div class="top-bar-right vert-align-center-mobile">
                    <nav class="nav" role="navigation">
                        <ul class="vertical medium-horizontal menu" data-magellan>
                            <li class="hvr-overline-from-center">
                                {% if page.url == "/" %}
                                <a id="main-who" class="a-c a-default" href="#about">About</a>
                                {% else %}
                                <a id="main-who" class="a-c a-default" href="/#about">About</a>
                                {% endif %}
                            </li>
                            <li class="hvr-overline-from-center">
                                {% if page.url == "/" %}
                                <a id="main-what" class="a-c a-default" href="#services">Services</a>
                                {% else %}
                                <a id="main-what" class="a-c a-default" href="/#services">Services</a>
                                {% endif %}
                            </li>
                            <li class="hvr-overline-from-center">
                                {% if page.url == "/" %}
                                <a id="main-exp" class="a-c a-default" href="#experience">Resume</a>
                                {% else %}
                                <a id="main-exp" class="a-c a-default" href="/#experience">Resume</a>
                                {% endif %}
                            </li>
                            <li class="hvr-overline-from-center">
                                {% if page.url == "/" %}
                                <a id="main-contact" class="a-c a-default" href="#contact">Contact</a>
                                {% else %}
                                <a id="main-contact" class="a-c a-default" href="#contact">Contact</a>
                                {% endif %}
                            </li>
                            <li class="hvr-overline-from-center">
                                {% if page.url == "/blog/" %}
                                <a data-description="Blog" id="main-blog" class="a-c a-default" href="#blog">Blog</a>
                                {% else %}
                                <a data-description="Blog" id="main-blog" class="a-c a-default" href="/blog/">Blog</a>
                                {% endif %}
                            </li>
                            <li><a data-open="search-btn" data-toggle="search-btn"  class="small button hollow searchBTN show-for-medium"><strong>Search</strong></a>
                                <div class="full reveal" id="search-btn" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
                                    <div class="float-right">
                                        <button class="close-button" data-close aria-label="Close modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="vert-center">
                                        <p class="text-center"><strong>Evan Rosa Blog Search</strong></p>
                                        <form action="{{site.baseurl}}/search/" method="get">
                                            <div class="row">
                                                <div class="small-12 columns">
                                                    <label for="search-box">Search</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="small-10 columns">
                                                    <input type="text" id="search-box" name="q" required>
                                                </div>
                                                <div class="small-2 columns">
                                                    <input class="small button" type="submit" value="search">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="show-for-small-only header-mobile-search">
                                    <form action="{{site.baseurl}}/search/" method="get">
                                        <div class="row align-center">
                                            <div class="small-12 columns">
                                                <input type="text" id="search-box" name="q" required>
                                            </div>
                                        </div>
                                        <div class="row align-center header-mobile-search">
                                            <div class="small-12 columns">
                                                <input class="hollow tiny button" type="submit" value="search">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
