---
layout: default
image: /assets/img/svg/logo.svg
---

<article class="clearfix">
<!--Section One: Main Intro with office background -->
    <header data-scrollmagic id="intro" data-magellan-target="intro" class="introduction parallaxParent">

        <div class="office-back" data-interchange="[/assets/img/pics/whtmac.jpg, default], [/assets/img/pics/whtmac.jpg, small], [/assets/img/pics/whtmac-m.jpg, medium], [/assets/img/pics/whtmac-l.jpg, large], [/assets/img/pics/whtmac-xl.jpg, xlarge], [/assets/img/pics/whtmac-xxl.jpg, xxlarge], [/assets/img/pics/whtmac-retina.jpg, retina]">
            <noscript><img src="/assets/img/pics/whtmac.jpg" alt="Evan Rosa's Blog"></noscript>
        </div>

        <div class="intro-text blog-intro">
            <div id="name">
                <div class="row">
                    <div class="small-12 columns text-center">
                        <h1>{{ page.title }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns text-center type-span">
                        <h2>{{ page.author }}</h2>

                    </div>
                </div>
            </div>

            <div id="itype">
                <div class="row">
                    <div class="small-12 columns text-center type-span article-author-pad">
                        <h3>{{ page.date | date: "%m/%d/%Y" }}</h3>
                    </div>
                </div>
            </div>

            <div class="row down-svg" data-magellan id="test">
                <a id="intro-arrow" class="small-12 columns text-center" href="#blog">
                    <div id="arrow-d">
                        <object id="test1" data="/assets/img/svg/down-ar.svg" type="image/svg+xml"><img src="/assets/img/pics/down-ar.png" alt="{{page.title}}"></object>
                    </div>
                </a>
            </div>
        </div>
    </header>

    <!--Section Two: Who am I -->
    <section class="who clearfix">

        <div class="row align-center block-animate">
            <div class="small-7 columns"  data-scrollmagic id="blog" data-magellan-target="blog" >
               <div class="article-content-space">
                   {{ content }}
               </div>
                <div class="row">
                   <div class="columns">
                       <!-- Go to www.addthis.com/dashboard to customize your tools -->
                       <div class="addthis_inline_share_toolbox"></div>
                   </div>
                    <div class="columns">
                        <ul class="pagination" role="navigation" aria-label="Pagination">
                            {% if page.previous.url %}
                            <li class="pagination-previous"><a aria-label="Previous page" class="prev" href="{{page.previous.url}}">Previous <span class="show-for-sr">page</span></a></li>
                            {% endif %}
                            {% if page.next.url %}
                            <li class="pagination-next"><a class="next" href="{{page.next.url}}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <aside class="small-4 columns hide-for-small-only" id="contact" data-magellan-target="contact" >
                <div class="article-content-space">
                    {% include contact-search.html %}
                </div>
            </aside>
        </div>
        <div class="row align-center">
            <div class="small-7 columns">
                <div class="block-animate">
                    {% if page.comments %}
                    <div id="disqus_thread"></div>
                    <script>


                            var disqus_config = function () {
                            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };

                        (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = '//evrodesigns.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</article>
