---
layout: default
title: Washington DC based Digital Marketer, Front-End Developer, and Analytics Professional - Evan Rosa's Blog
description: Discussing ideas and web trends in web development, digital analytics, and digital marketing - Evan Rosa's Blog
author: Evan Rosa
image: /assets/img/svg/logo.svg
permalink: /blog/
canonical-url: https://evanrosaportfolio.com/blog/
---

<!--Section One: Main Intro with office background -->
<section data-scrollmagic id="intro" data-magellan-target="intro" class="introduction parallaxParent parallaxParent-intro">
    <div class="office-back" data-interchange="[../assets/img/pics/whtmac.jpg, default], [../assets/img/pics/whtmac.jpg, small], [../assets/img/pics/whtmac-m.jpg, medium], [../assets/img/pics/whtmac-l.jpg, large], [../assets/img/pics/whtmac-xl.jpg, xlarge], [../assets/img/pics/whtmac-xxl.jpg, xxlarge], [../assets/img/pics/whtmac-retina.jpg, retina]">
        <noscript><img src="../assets/img/pics/whtmac.jpg" alt="Evan Rosa's Blog"></noscript>
    </div>
    <div class="intro-text">
        <div class="row">
            <div class="small-12 columns text-left">
                <h1 class="other-title" id="name">Evan Rosa's Blog</h1>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns text-left type-span">
                <h2 id="itype">Digital Marketing, Development, and Analytics</h2>
            </div>
        </div>
        <div class="row share">
            <div class="small-12 columns text-left">
                <ul id="s-list" class="no-bullet">
                    <li>
                        <a href="https://www.linkedin.com/in/erosa26" target="_blank" data-description="Main LinkedIn Click">
                            <div class="social-svg">
                                <object data="../assets/img/svg/linkedin.svg" type="image/svg+xml"><img src="../assets/img/pics/linkedin.png" alt="Evan Rosa LinkedIn Profile"></object>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/erosa26" target="_blank" data-description="Main Facebook Click">
                            <div class="social-svg">
                                <object data="../assets/img/svg/F_icon.svg" type="image/svg+xml"><img src="../assets/img/pics/F_icon.png" alt="Evan Rosa's Facebook Page"></object>
                            </div>
                        </a>
                    </li>
    
                    <li>
                        <a href="https://github.com/evr01" target="_blank" data-description="Main Github Click">
                            <div class="social-svg">
                                <object data="../assets/img/svg/github.svg" type="image/svg+xml"><img src="../assets/img/pics/github.png" alt="Evan Rosa GitHub Page"></object>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns text-left" data-magellan>
                <div class="reveal" id="blog-subscribe-btn" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
                    <button class="close-button float-right" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!--Blog Sign-up Form-->
                    <section class="blog-signup text-center">
                        <form id="mail-contact" name="evroD-blog-subscribe" action="thank-you" data-abide novalidate netlify netlify-honeypot="bot-field">
                            <div class="contactForm">
                                <h2><strong>Subscribe to Evan's Blog</strong></h2>
                                <p>Enter your name and email below to sign-up</p>
                                <label class="hide">Bot field:
                                    <input name="bot-field">
                                </label>
                                <label>
                                    <input class="blog-name" id="mail-name" pattern="text" required type="text" placeholder="Your Name" name="name">
                                    <span class="form-error">This field is required.</span>
                                </label>
                                <label>
                                    <input class="blog-email" id="mail-email" required pattern="email" type="email" placeholder="yourEmail@company.com" name="email">
                                    <span class="form-error">This field is required.</span>
                                </label>

                                <fieldset>
                                    <button id="submit-cf" class="expanded button" type="submit" value="Submit" data-description="Contact Form Submit">Subscribe</button>
                                </fieldset>
                                <div data-abide-error class="alert callout" style="display: none;">
                                    <p><i class="fi-alert"></i> There are some errors in your form.</p>
                                </div>
                            </div>
                        </form>
                    </section>

                </div>
                <a data-open="blog-subscribe-btn" id="intro-btn" class="large button"><span data-description="Button - subscribe to blog" id="get-btn">Subscribe</span></a>
            </div>
        </div>
        <div class="row down-svg" data-magellan id="test">
            <a id="intro-arrow" class="small-12 columns text-center" href="#blog">
                <div id="arrow-d">
                    <object id="test1" data="/assets/img/svg/down-ar.svg" type="image/svg+xml"><img src="/assets/img/pics/down-ar.png" alt="{{page.title}}"></object>
                </div>
            </a>
        </div>
    </div>
</section>

<!--Section Two: Who am I -->
<section data-scrollmagic id="blog" data-magellan-target="blog" class="who clearfix">
   <div class="row">
       <div class="small-12">
           <h2 class="text-center"><strong>Latest Blog Articles</strong></h2>
       </div>
   </div>
    <div class="row align-center">
        <div class="orbit" role="region" aria-label="" data-orbit data-auto-play="false" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
            <div class="small-12 columns block-animate">
                <nav class="orbit-bullets" aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><button id="blog-cat-all" class="card-load is-active" data-slide="0">All</button></li>
                        <li><button id="blog-cat-ux" class="card-load" data-slide="1">Digital Marketing</button></li>
                        <li><button id="blog-cat-dev" class="card-load" data-slide="2">Web Development</button></li>
                        <li><button id="blog-cat-metric" class="card-load" data-slide="3">Digital Analytics</button></li>
                    </ul>
                </nav>
            </div>
            <ul class="orbit-container block-animate clearfix">
                <li class="is-active orbit-slide clearfix">
                   <div class="row">
                       
                   </div>
                </li>

                <li class="is-active orbit-slide">
                    <div class="row">
                        {% include card-ux.html %}
                    </div>
                </li>

                <li class="is-active orbit-slide">
                    <div class="row">
                        {% include card-dev.html %}
                    </div>
                </li>

                <li class="is-active orbit-slide">
                    <div class="row">
                        {% include card-analytics.html %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{% include contact.html %}
